@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Nunito";
    src: url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
    font-weight: 400;
    font-style: normal;
  }
}

@layer utilities {
  transition-transform-colors {
    transition-property: transform, color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
}
